* {margin: 0; padding: 0; border:0 none; outline:none; -webkit-tap-highlight-color:rgba(255,255,255,0)}
html {min-height: 100%;}
body {width:100%; height:100%; font-family:"microsoft yahei","黑体",Arial, Helvetica, sans-serif; font-size: 0.26rem;color:#888; background:#f3f3f3;}

h1,h2,h3,h4,h5,h6{font-weight:300;}
ul,dl,li{list-style: none;}
a {color: #606060;text-decoration: none;}
a:hover {text-decoration: none;}
img{display:block; border:none 0;}
.clearfix:after{content:""; display:block; height:0; width:100%; clear:both; visibility: hidden;}

/*头部导航*/
#con{height:100%; width:100%;padding-top:1.28rem;  }
.navBar{height:0.88rem; width:100%; padding-top:0.4rem;  background:#141419; color:#fff; position:fixed;left:0;top:0;z-index:1000;}
.navBar .titleName{ height:0.88rem; width:100%; line-height:0.88rem;text-align:center;font-size:0.36rem; font-weight:600; }
.navBar .navBackBtn{ height:0.4rem; width:1.2rem; position:absolute;left:0.4rem;top:0.64rem; }
.navBar .navBackBtn i{float:left;   height:0.4rem; width:0.4rem;background:url("../images/backBtn.png") no-repeat left top; background-size:100% 100%;}
.navBar .navBackBtn span{float:left; height:0.4rem; line-height:0.4rem; font-size:0.28rem; }

#con  .backBtn{height:0.4rem; line-height:0.4rem; padding-left:0.4rem; width:0.2rem; position: absolute;left:0.25rem;top:0.22rem;  z-index:100}
#con  .backBtn>i{display:block; height:0.4rem; width:0.4rem;background:url("../images/backBtn.png") no-repeat left top;background-size:100% 100%;position:absolute;left:0;top:0;}

/*城市选择*/
#con .cityBox{height:1rem;line-height:1rem;padding:0 0.4rem;background:#fff;margin-bottom:0.2rem;font-size:0.3rem;}
#con .cityBox .left{float:left;color:#303030;}
#con .cityBox .right{float:right;line-height:1rem;}
/*#con .cityBox .right input{text-align:right;margin:0.35rem 0.1rem 0 0;font-size:0.3rem;}*/
#con .cityBox .right span{color:#757575;vertical-align:middle;margin-right:0.1rem;}
#con .cityBox .right img{display:inline-block;width:0.16rem;height:0.27rem;vertical-align:middle;}

/*选择城市里确认和取消按钮设置*/
.mui-btn-blue{color:#fff;background-color: #007aff;}
.mui-poppicker-btn-cancel{color: #000;background-color: #fff;  }
.mui-btn {font-size: 16px;padding: 8px;margin:3px; border-radius:3px;}

/*车牌号、发动机号、车架号码*/
#carWrap{height:1rem;line-height:1rem;background:#fff;margin-bottom:0.01rem;padding:0 0.5rem 0 0.3rem;font-size:0.3rem;}
#carWrap .carNumber1{float:left;display:inline-block;color:#303030;}
#carNumber2{float:right;width:0.6rem;color:#757575;;text-align:right;}
#textval{float: right;height: 1rem; line-height: 1rem; width:18%;font-size: 0.3rem;text-align:right;}


#con .carBox .content{background:#fff;}
#con .carBox .content .detail{line-height:1rem;}
#con .carBox .content .detail li{padding:0 0.44rem 0 0.3rem;border-bottom:1px solid #f3f3f3;}
#con .carBox .content .detail li label{width:20%;display:inline-block;font-size:0.3rem;color:#303030;}
#con .carBox .content .detail li input{float:right;width:70%;font-size:0.3rem;border:0;outline:0;margin-top:0.31rem;text-align:right;}
#con .carBox .content .detail li:nth-child(2){border-bottom:10px solid #f3f3f3;}
#con .carBox .check{height:1.5rem;line-height:1.5rem;text-align:center;font-size:0.24rem;}
#con .carBox .content .detail .txtVerification{width:28%;text-align:center;}

/*键盘*/
#keyboardBox .finishBox{padding:10px;background:#eee;border:1px solid #CBCFD4;}
#keyboardBox .finish{text-align:right;color:#138FE9;}

/*自定义弹框*/
#alertDisplay{width:100%;height:100%;display:none;}
#alertDisplay #bg{width:100%;height:100%;position:fixed;top:0;left:0;z-index:100000;background:#C8C8C8;opacity:.6;}
#alertDisplay #carName{position:fixed;top:50%;left:50%;z-index:100001;width:4.9rem;margin-left:-2.5rem;border-radius:0.1rem;background:#fff;color:#222;}
#alertDisplay #carName .left{padding:0.1rem;height:1.21rem;line-height:1.21rem;font-size:0.26rem;text-align:center;}
#alertDisplay #myClose{width:100%;height:0.8rem;line-height:0.8rem;text-align:center;border-top:1px solid #ddd;font-size:0.3rem;color:#1C78FE;background:#fff;border-bottom-left-radius:0.1rem;border-bottom-right-radius:0.1rem;}
#alertDisplay #myClose:hover{cursor:pointer;}

/*确定按钮*/
#con .btn{position:relative;padding-bottom:2.5rem;}
#con .submitBtn1,#con .submitBtn2{width:100%;height:0.98rem;line-height:0.98rem;text-align:center;background:url(../images/btnBg3.png)no-repeat left bottom;background-size:100% 100%;font-size:0.36rem;color:#fff;position:fixed;left:0;bottom:0;}
#con .submitBtn1{display:none;}


/*违章查询处理*/
/*车牌号*/
#appointment{display:none;}
#con .carNumber{width:100%;height:1.4rem;line-height:1.4rem;text-align:center;font-size:0.36rem;font-weight:700;background-color:#fff;color:#000; margin-bottom:0.01rem;}

/*违章、罚款、扣分部分*/
#con .mistake{width:100%;height:1.6rem;background:#fff;display:flex;justify-content:center;align-items:center;margin-bottom:0.3rem;}
#con .mistake div{width:33.3%;text-align:center;}
#con .mistake div .number{font-size:0.36rem;color:#FFA900;font-weight:700;}
#con .mistake div .txt{font-size:0.26rem;margin-top:0.25rem;}

/*违章详情*/
#con .mistakeDetail{background:#fff;margin-bottom:0.2rem;}
#con .mistakeDetail p{height:1rem;font-size:0.3rem;color:#000;border-bottom:1px solid #f3f3f3;padding:0 0.32rem 0 0.28rem;}
#con .mistakeDetail .time{line-height:1rem;}
#con .mistakeDetail p span{color:#A8A8A8;}
#con .mistakeDetail .txt{height:1.8rem;margin-top:0.3rem;}
#con .mistakeDetail .pay{width:100%;height:1rem;line-height:1rem;display:flex;background:#fff;}
#con .mistakeDetail .pay div{width:33.3%;text-align:center;font-size:0.3rem;}
#con .mistakeDetail .pay span{color:#FFA900;}

/*加载图标*/
#loadImg{display:none;width:2rem;height:2rem;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);background:url(../images/loadingicon.gif) no-repeat center center;}

/*遮罩层*/
#masks{position:fixed;top:0;left:0;width:100%;height:100%;z-index:500;background:rgba(0,0,0,.5);display:none}
