@charset "utf-8";
/* track base Css */

#ehong-code-input{
	width:42px;
	letter-spacing:2px;
	margin:0px 8px 0px 0px;
}
.ehong-idcode-val{
	position:relative;
	padding:4px 12px ;
	top:2px;
	*top:-3px;
	letter-spacing:4px;
	display:inline;
	cursor:pointer;
	font-size:18px;
	font-family:"Courier New", Courier, monospace;
	text-decoration:none;
	font-weight:bold;
  font-style:italic;
}
.ehong-idcode-val0{
	border:solid 1px #A4CDED;
}

.ehong-idcode-val1{
	border:solid 1px #A4CDED;
}
.ehong-idcode-val2{
	border:solid 1px #6C9;
}
.ehong-idcode-val3{
	border:solid 1px #6C9;
}
.ehong-idcode-val4{
	border:solid 1px #6C9;
}
.ehong-idcode-val5{
	border:solid 1px #6C9;
}
