.loding {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.loding .lodingImg {
  background: url("../images/loading.gif") no-repeat center/100%;
  width: 0.64rem;
  height: 0.64rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.allCar {
  height: 1rem;
  background: #fff;
  padding-left: 15px;
}

.allCar p {
  height: 1rem;
  line-height: 1rem;
  font-size: 0.28rem;
  color: #444;
}

.mui-popup-title + .mui-popup-text {
  margin: 0.7rem 0 0.3rem 0;
}

.mui-popup-text {
  color: #666;
}

.mui-popup-title {
  color: #333;
}

.mui-popup-button {
  color: #333;
}

.mui-popup-button {
  color: #999;
}

.mui-popup {
  height: 3.42rem;
  width: 5.16rem;
  border-radius: 12px;
}

.mui-popup-inner {
  border-radius: 12px 12px 0 0;
}

.mui-popup-title {
  font-size: 0.3rem;
}

.mui-indexed-list-bar.active a.active {
  color: #FEAD81;
}

.mui-table-view:before {
  top: 0;
}

.mui-indexed-list-group {
  background: #f4f4f4;
  padding-top: 9px;
}

.mui-indexed-list-group, .mui-indexed-list-item {
  color: #444;
  border-bottom: 1px solid #f4f4f4;
}

.mui-table-view-cell:after {
  height: 0;
}

.mui-table-view-divider:after {
  height: 0;
}

.mui-table-view-divider::before {
  height: 0;
}

.mui-indexed-list-bar {
  background: transparent;
}

.mui-indexed-list-bar.active {
  background: transparent;
}

.mui-indexed-list-bar a {
  color: #999;
}
